<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

	<variable name="logDirectory" value="${basedir}/logs/${shortdate}" />

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
        
	</extensions>


	<targets>
		

		<!--Запись в SQLServer-->
		<target xsi:type="Database" name="sqlserver"
            dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient">
      <connectionString>
		  Data Source=localhost\sqlexpress;Initial Catalog=база;Integrated Security=True
	  </connectionString>
      <commandText>
        insert into "authors".logging(log_date,log_level,log_logger,log_message, stacktrace) values(@time_stamp, @level, @logger, @message, @stacktrace);
      </commandText>
      <parameter name="@time_stamp" layout="${longdate}"/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@stacktrace" layout="${stacktrace}"/>
    </target>
		<!--Запись в файл-->
		<target xsi:type="File" name="allfile"
				fileName="${logDirectory}/nlog-all-${shortdate}.log" deleteOldFileOnStartup="true" concurrentWrites="true" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<logger name="*" minlevel="Trace" writeTo="sqlserver" />
	</rules>
</nlog>