<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off">

	<variable name="logDirectory" value="${basedir}/logs/${shortdate}" />

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>        
	</extensions>
  
	<targets>
		<!--Запись в SQLServer-->
		<target xsi:type="Database" name="sqlserver"
            dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient">
      <connectionString>
        Data Source=COMPUTER;Initial Catalog=SocialNetwork;Integrated Security=True; TrustServerCertificate=true;
      </connectionString>
      <commandText>
        insert into Logs(LogLevel, Date, Message, StackTrace) values(@level, @date, @message, @stacktrace);
      </commandText>
      <parameter name="@date" layout="${longdate}"/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@stacktrace" layout="${stacktrace}"/>
    </target>
		<!--Запись в файл-->
		<target xsi:type="File" name="allfile"
				fileName="${logDirectory}/nlog-all-${shortdate}.log" deleteOldFileOnStartup="true" concurrentWrites="true" />
	</targets>

	<rules>

    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <logger name="Microsoft.*" maxLevel="Info" final="true"/>
    
		<logger name="*" minlevel="Info" writeTo="sqlserver" />   
    
	</rules>
</nlog>